/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f7f7; /* Light gray */
}

/* Container styles */
.container {
  width: 90%;
  max-width: 800px; /* Limit the container width */
  margin: 0 auto; /* Center the container horizontally */
}

/* Navbar styles */
nav {
  background-color: #2c3e50; /* Dark blue */
  color: #fff;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 24px;
}

/* Hero section styles */
.hero {
  background-color: #ecf0f1; /* Light blue */
  padding: 50px 0;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: calc(100vh - 70px); /* Subtract the navbar height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #2c3e50; /* Dark blue */
}

p {
  font-size: 18px;
  color: #34495e; /* Dark gray */
  margin-bottom: 30px;
}

.login-button {
  display: inline-block;
  background-color: #3498db; /* Sky blue */
  color: #fff;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #2980b9; /* Darker sky blue */
}
