<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Management System</title>
  <link rel="stylesheet" href="styles.css">
  
</head>
<body>
  <nav>
    <div class="container">
      <h1>Inventory Management System</h1>
    </div>
  </nav>

  <section class="hero">
    <div class="container">
      <h2>Welcome to Our Inventory Management System</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="#" th:href="@{/login-form}" class="login-button">Admin Login</a>
    </div>
  </section>

  <script src="script.js"></script>
</body>
</html>
